/.gradle/
/build/

/client/build/
/common/build/
protoweaver_hosts

/loader-common/build/
/loader-common/.architectury-transformer/
/loader-common/.gradle/

/loader-fabric/build/
/loader-fabric/.architectury-transformer/
/loader-fabric/.gradle/
/loader-fabric/run/

/loader-forge/build/
/loader-forge/.architectury-transformer/
/loader-forge/.gradle/
/loader-forge/run/

/loader-plugin/build/
/loader-plugin/.architectury-transformer/
/loader-plugin/.gradle/
/loader-plugin/run/

/proxy/build/
/proxy/.gradle/
/proxy/run/