/.gradle/
/.idea/
/build/
/.architectury-transformer

/client/build/
/common/build/
protoweaver_hosts

/loader-common/build/
/loader-common/.architectury-transformer/
/loader-common/.gradle/

/fabric/build/
/fabric/.architectury-transformer/
/fabric/.gradle/
/fabric/run/

/forge/build/
/forge/.architectury-transformer/
/forge/.gradle/
/forge/run/

/paper/build/
/paper/.architectury-transformer/
/paper/.gradle/
/paper/run/

/proxy/build/
/proxy/.gradle/
/proxy/run/